body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: auto;
}
a {
    color: #fff;
    text-decoration: none;
}   
a:hover {
    color: #4c63e7;
    border-radius: 0%;
}   

#logo {
    width: 100px;
    height: 100px;   
    display: flex;
    align-items: center;
    border-radius: 50%;
}

#logo:hover {
    display: inline-block;
    transition: transform 0.5s ease;
    transform: rotate(360deg);
    cursor: pointer;
    size-adjust: 110%;
    
}